/*鸿蒙字体*/
@font-face {
	font-family: 'Meslo LG';
	font-style: normal;
	font-size: 18px;
	src: local('Meslo LG S'), url("/static/fonts/hm.woff2") format('woff2')
}

/*设置整个项目的字体*/
view {
	font-family: Meslo LG, sans-serif;
}
