/*鸿蒙字体*/
@font-face {
	font-style: normal;
	font-family: 'Harmony_Medium';
	/*引入HarmonyOS_Sans_SC，目录别搞错*/
	src: url('/static/fonts/HarmonyOS_Sans_Medium.ttf') format('truetype');
}

/*设置整个项目的字体*/
* {
	font-family: "Harmony_Medium", sans-serif;
}
