@import '@/uni_modules/uni-scss/variables.scss';
@import '@/uni_modules/uview-ui/theme.scss';

/* 全局css */
.self-icon {
    width: 108rpx;
    height: 108rpx;
    border-radius: 50rpx;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);;
}

.icon {
    width: 81rpx;
    height: 81rpx;
    border-radius: 50rpx;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);;
}

.self-username {
	padding-left: 18rpx;
	font-weight: 700;
	font-size: 43.2rpx;
}

//标准灰色
.our-gray{
	color:rgb(242, 243, 245);
}
//标准紫色
.our-purple{
	color:#4605AD;
}

//用户名字体
.username-font{
	font-size: 24px;
	font-weight: 700;
	color: black;
}
//发帖时间、正文、评论、点赞数、评论数的字体
.text-font{
	font-size: 18px;
	font-weight: 400;
	color: black;
}
//标题
.title-font{
	font-size: 20px;
	font-weight: 700;
	color: black;
}
//评论楼里的用户名
.comment-username-font{
	font-size: 18px;
	font-weight: 700;
}