@charset "utf-8";

.flowPanel {
	justify-content: space-between;
	width: 100%;
	overflow: hidden;

}

.flowPanel .itemContainer {
	border: 2px solid;
	border-color: #f8f8f8;
	width: 100%;
	flex-direction: column;
	padding: 0px;
	align-items: center;
	flex: 1;
	margin: 15px 0px;
}

.flowPanel .itemContainer .itemContent {
	width: 80%;
	
}

.flowPanel .itemContainer .itemContent img {
	width: 100%;
	object-fit: scale-down;
	padding-top: 10px;
	
}

.flowPanel .itemContainer .title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-wrap: break-word;
	word-break: break-all;
	color: #333;
	text-align: left;
	padding: 0.2em 1.2em;

}

.flowPanel .itemContainer .info {
	color: #8a8a8a;
	overflow: hidden;
	padding: 3px;
	border-top: 1px #e9e9e9 solid;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
}

.flowPanel .itemContainer .info .left {
	flex-direction: row;
	display: flex;
}

.flowPanel .itemContainer .info .left .date {
	flex-direction: row;
	font-size: 15px;
	line-height: 21px;
}

.flowPanel .itemContainer .info .left .commentNum {
	padding-left: 5px;
	flex-direction: row;
	font-size: 16px;
	line-height: 21px;
}

.flowPanel .itemContainer .info .right {
	flex-direction: row;
}

.flowPanel .itemContainer .info .right .clickNum {
	font-size: 11px;
	line-height: 0px;
	padding-top: 0px;
	padding: 6px;
}


